.post {
    position: relative;
    margin: 10px 0;
    padding: 10px;
    background-color: blanchedalmond;
    font-size: 12px;
}

.date {
    position: absolute;
    right: 3px;
    bottom: 2px;
    display: flex;
    gap: 2px;
    font-size: 8px;
}
