.searchWrapper {
    margin-right: 26px;
}

.searchWrapper input {
    width: 230px;
    height: 28px;
    padding: 7px;
    border: 0;
    border-radius: 14px;
    background: #224B7A;
    color: #FFFFFF;
    opacity: 90%;
}