* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: #416A9A;
}

.main {
  min-height: 100vh;
  background-color: #EDEEF0;
  padding-top: 15px;
}