.friend {
    display: flex;
    align-items: center;
    height: 130px;
    padding: 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #dce1e6;
    border-radius: 5px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.friendDescription {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 30px;
    color: #224B7A;
    font-size: 20px;
}

.friendDescription a {
    margin-top: 10px;
    color: #5181b8;
}

.friendDescription p {
    max-height: 30px;
    max-width: 430px;
    font-size: 16px;
    margin-top: 5px;
    color: #aaa;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.friendDescription button {
    height: 30px;
    width: 100%;
    margin: 10px 0 0 0;
    border: 0;
    border-radius: 4px;
    background-color: #5181b8;
    cursor: pointer;
    color: #FFFFFF;
}
